/************************************************************************************/
/*	Titulo: CSS - Dokify demo                                                       */
/*	Versión: 01                                                                     */
/*	Autor: Jaime Sorey.                                                             */
/*	E-Mail: jaimesorey@gmail.com                                                    */
/************************************************************************************/

/************************************************************************************/
/*	RESET                                                                           */
/************************************************************************************/
body, header, main, nav, aside, article, foot, div, span, p, img, ul, li, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	border: 0;
}

ul, li{
	list-style: none;
}

a, a:link, a:visited, a:link:active, a:visited:active {
	margin: 0;
	padding: 0;
	border: 0;
    color: #555;
	text-decoration: none;
	cursor: pointer;
}


/************************************************************************************/
/*	PAGE                                                                            */
/************************************************************************************/
body {
  	background-color: #EAEBEF;
  	font-family: sans-serif;
    font-size: 12px;
    color: #555;
}

.area {
  	background: #FFF;
	width: 992px;
	margin: 0 auto;
	height: 900px;
}

/************************************************************************************/
/*	HEADER                                                                          */
/************************************************************************************/
header {
	float: left;
	width: 100%;
	z-index: 10;
}

	.header-top {
		width: 100%;
		height: 50px;
		border-bottom: solid 2px #FFB305;
	}

		.header-left {
			float: left;
			width: 45%;
			height: 100%;
		}
		
			.ul-header-left {
				float: left;
				height: 30px;
				margin: 10px;
			}

				.li-header-logo {
					float: left;
					height: 100%;
					margin-left: 15px;
					margin-right: 15px;
				}

				.li-header-search {
					float: left;
					height: 100%;
				}
				
				.li-header-search input {
					margin-top: 2px;
					padding: 4px;
					border-radius: 4px;
				}

				.li-header-help {
					float: left;
					height: 100%;
					margin-left: 15px;
					margin-top: 8px;
				}
				
					.li-header-help a, .li-header-help a:visited, .li-header-help a:link {
						padding: 6px 8px;
						color: #FFFFFF;
						background: #78858E;
						border-radius: 4px;
						border: 1px solid #78858E
					}
					
					.li-header-help a:active, .li-header-help a:hover {
						color: #555;
						background: #FFF;
					}

		.header-notify {
			float: left;
			width: 30%;
			height: 100%;
		}
		
			.red-box {
				float: right;
				background: #E56F6F;
				color: #FFF;
				font-weight: bold;
				height: 30px;
				width: 30px;
				margin: 10px 30px;
				text-align: center;
				vertical-align: middle;
				line-height: 30px;
				border-radius: 4px;
				cursor: default;
				z-index: 9999;
			}
			
			.red-box:hover div{
				display: block !important;
			}
			
				.hover-box {
					z-index: 50;
					position: relative;
					width: 300px;
					margin-left: -250px;
					margin-top: -5px;
					padding-top: 10px;
					display: none;
				}
			
				.notify-box {
					z-index: 50;
					position: relative;
					width: 300px;
					background: #FFF;
					color: #555;
					border: 1px solid #CCC;
					border-radius: 4px;
				}
				
					.title-notify {
						font-size: 14px;
						height: 70px;
						cursor: default;
						-webkit-touch-callout: none;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}
					
						.red-bell {
							display: block;
							margin: 15px auto 3px auto;
						}
					
					.element-notify{
						border-top: dotted 1px #DDD;
						padding: 5px 15px 5px 15px;
						height: 60px;
						font-size: 11px;
						cursor: move;
					}
					
						.element-notify-img {
							position: relative;
							float: left;
							height: 100%;
							width: 40px;
							margin-top: 5px;
						}
						
						.element-notify-desc {
							position: relative;
							float: left;
							width: calc(100% - 40px);
							line-height: 20px;
							text-align: left;
							-webkit-touch-callout: none;
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
						}
						
						.element-notify-text{
							position: relative;
							float: left;
							width: calc(100% - 40px);
							line-height: 20px;
							text-align: left;
							font-weight: 200;
						}
						
					.element-waste {
						padding: 15px 15px 10px 15px;
						font-size: 11px;
						background: #DFDFDF;
						cursor: default;
					}
					
						.waste-notify-img {
							position: relative;
							float: left;
							display: block;
							height: 100%;
							width: 30px;
							margin-left: 35px;
						}
						
						.waste-notify-desc {
							line-height: 15px;
							text-align: left;
							color: #888;
						}
				
		.header-right {
			float: left;
			width: calc(25% - 25px);
			height: 100%;
			border-left: 1px solid #EAEAEA;
			border-right: 1px solid #EAEAEA;
			text-align: center;
			font-weight: bold;
		}

			.header-right p {
				width: 100%;
				height: calc(100% - 15px);
				margin-top: 15px;
			}

				.header-right p img {
					margin-right: 5px;
				}

	.header-bottom {
		width: 100%;
		height: 90px;
	}
	
		.header-logo {
			position: relative;
			float: left;
			margin: 10px 60px;
		}
		
		.header-text {
			position: relative;
			float: left;
			margin-top: 25px;
		}
		
		.header-text h1{
			font-size: 16px;
			font-weight: bold;
			margin: 3px 0;
		}

		.header-text h5{
			font-size: 12px;
			font-weight: 200;
			color: #999;
		}

/************************************************************************************/
/*	BIGBOX                                                                          */
/************************************************************************************/

	.bigbox {
		float: left;
		width: 100%;
	}

/************************************************************************************/
/*	NAV                                                                             */
/************************************************************************************/

	nav {
		position: relative;
		float: left;
		width: 14%;
		margin: 0 20px;
		padding: 5px 0px 10px 0;
		border-right: 2px solid #BBB;

	}
	
		nav li  {
			height: 40px;
			width: 100%;
			padding: 1px 0 1px 2px;
			line-height: 40px;
			vertical-align: middle;
		}
		
			nav li:hover {
				border-left: 2px solid #FFB305;
				border-bottom: 1px solid #BBB;
				border-top: 1px solid #BBB;
				border-right: 2px solid #FFF;
				padding: 0;
				background: #FFF;
				width: calc(100% - 2px);
			}
			
			nav li img {
				position: relative;
				float: left;
				margin: 6px 10px 7px 6px;
			}

/************************************************************************************/
/*	MAIN                                                                            */
/************************************************************************************/

	main {
		position: relative;
		float: left;
		width: calc(70% - 74px);
		margin: 5px 0;
	}

		.main-1 {
			position: relative;
			float: left;
			width: calc(33% - 20px);
			margin: 0 10px 10px 10px;
			border: 1px solid #BBB;
			cursor: default;
			text-align: center;

		}
	
		.main-2, .main-3 {
			position: relative;
			float: left;
			width: calc(100% - 20px);
			margin: 10px;
			border: 1px solid #BBB;
		}
		
		.main-3 {
			padding-top: 15px;
		}
	
			.main-title{	/* clase comunes a main y aside */
					height: 40px;
					width: calc(100% - 10px);
					line-height: 40px;
					vertical-align: middle;
					font-weight: bold;
					border-bottom: 1px solid #BBB;
					background: #F0F0F0;
					margin: 0;
					padding-left: 10px;
					cursor: default;
			}

			.main-ico {		/* clase comunes a main y aside */
				position: relative;
				float: right;
				margin: 6px 10px 7px 6px;
			}
			
			.main-graph {
				margin: 17px 0;
			}

			.main-note {
				margin-bottom: 17px;
			}

			.main-note img{
				margin-left: 8px;
			}

			.main-client {
				position: relative;
				float: left;
				width: 25%;
				text-align: center;
			}
			
			.main-informe-img {
				position: relative;
				float: left;
				width: 410px;
			}
			
			.main-informe-text{
				position: relative;
				float: left;
				margin-top: 11px;
				width: calc(100% - 415px);
				font-size: 11px;
				line-height: 14px;
			}
			
			.main-informe-text strong{
				display: block;
				font-size: 13px;
				line-height: 17px;
				margin-bottom: 2px;
			}
			
			.main-informe-text a, .main-informe-text a:visited, .main-informe-text a:active, .main-informe-text a :link {
				position: relative;
				float: left;
				clear: both;
				margin-top: 3px;
				border-radius: 2px;
				background: #FF7600;
				color: #FFF;
				font-weight: bold;
				padding: 10px 15px;
				width: auto;
			}

/************************************************************************************/
/*	ASIDE                                                                           */
/************************************************************************************/

	aside {
		position: relative;
		float: right;
		width: 16%;
		margin: 5px 20px 0 10px;
		border: 1px solid #BBB;
	}
	
		/* clases main-title y main-ico definidas en main */
		
		aside .main-ico {
			margin: 10px 12px 11px 6px;
		}
		
		article {
			position: relative;
			float: right;
			width: calc(100% - 20px);
			border-bottom: 1px solid #BBB;
			padding: 8px 10px;
			line-height: 15px;
			font-size: 11px;
		}
		
			aside article:last-child{
				border: none;
			}
		
			.news-title {
				color: #004392;
			}
	
/************************************************************************************/
/*	FOOT                                                                          */
/************************************************************************************/

	foot {
		position: relative;
		float: left;
		width: 100%;
		height: 40px;
		margin-top: 20px;
		padding-top: 20px;
		border-top: solid 2px #FFB305;
		height: 32px;
		line-height: 32px;
		vertical-align: middle;
	}
	
		foot li {
			position: relative;
			margin: 0 8px;
			color: #004392;
		}
	
		.foot-left {
			position: relative;
			float: left;
			width: calc(40% - 40px);
			margin-left: 40px;
		}
			
			.foot-left li {
				float: left;
			}
		
		.foot-right  {
			position: relative;
			float: right;
			width: calc(40% - 40px);
			margin-right: 40px;
		}

			.foot-right li {
				float: right;
			}
			
		.foot-middle{
			position: relative;
			float: left;
			width: 20%;
			text-align: center;
		}
		


/************************************************************************************/
/*	RESPONSIVE DESIGN                                                               */
/************************************************************************************/